# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/

# If you’re using Django collectstatic with a different path
# collected_static/

# Pytest
.cache/
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# JetBrains IDEs (PyCharm, etc.)
.idea/

# macOS
.DS_Store